*{
	padding:0px;
	margin:0px;
	list-style-type:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#5B5B5B;
	}
img{border: 0px;}	
h1,h2,h3,h4,h5,h6,ul,li,p{
	padding:0px;
	margin:0px;
	list-style-type:none;
	}
.close{
	display:none;
	}
.exp{
	display:block;
	}
.Clear{
	clear:both;
	}
.left {
	float: left;
}
.right {
	float: right;
}	
select{
	margin:4px 0px;
	border:1px #bdc9d6 solid;
	}
/*==============================Head===========================*/
.Head{
	background:url(../images/blue_2010/head_bg.jpg) no-repeat;
	height:118px;
	overflow:hidden;
	}
.TopList{
	float:right;
	width:355px;
	height:40px;
	overflow:hidden;
	}
.TopList li{
	float:left;
	}
.TopList a{
	display:block;
	height:40px;
	}
.TopList a.topbar1{
	width:90px;
	background:url(../images/blue_2010/ico.gif) 0px 0px no-repeat;
	}
.TopList a.topbar1:hover{
	background:url(../images/blue_2010/ico.gif) 0px -40px no-repeat;
	}
.TopList a.topbar2{
	width:100px;
	background:url(../images/blue_2010/ico.gif) -90px 0px no-repeat;
	}
.TopList a.topbar2:hover{
	background:url(../images/blue_2010/ico.gif) -90px -40px no-repeat;
	}
.TopList a.topbar3{
	width:80px;
	background:url(../images/blue_2010/ico.gif) -190px 0px no-repeat;
	}
.TopList a.topbar3:hover{
	background:url(../images/blue_2010/ico.gif) -190px -40px no-repeat;
	}
.TopList a.topbar4{
	width:85px;
	background:url(../images/blue_2010/ico.gif) -270px 0px no-repeat;
	}
.TopList a.topbar4:hover{
	background:url(../images/blue_2010/ico.gif) -270px -40px no-repeat;
	}
.Publish{
	width:126px;
	height:34px;
	float:right; 
	}
.Publish a{
	background:url(../images/blue_2010/ico.gif) left -90px no-repeat;
	width:126px;
	height:34px;
	display:block;
	}
.Publish a:hover{
	background:url(../images/blue_2010/ico.gif) right -90px no-repeat;
	}
.Namber{
	float:left;
	}
.Namber h1, .Namber h2{
	color:#ECECEC;
	}
.Namber h1{
	color:#70fffa;
	font-size:14px;
	margin-left:250px; 
	margin-top:-10px;
	z-index:10;
	position:relative;
	}
.Namber h2{
	margin-left:30px;
	}
.Namber h2 a:link, .Namber h2  a:visited{
	color:#FFF;
	text-decoration:underline;
	}
.Namber h2  a:hover{
	color:#FFEA00;
	text-decoration:underline;
	}
.TopName{
	margin-left:109px;
	line-height:25px;
	color:#FFFFFF;
	}
.StageDate{
	width:65px;
	float:left;
	text-align:center;
	line-height:30px;
	height:30px;
	}
.Date{
	color:#0059B6;
	}
.Date p{
	color:#0059B6;
	margin-top:3px;
	}
.top_info{padding:0px 0px 0px 30px;height:30px; font:12px/30px Arial, Helvetica, sans-serif; color:#0150a6;}
.top_info a{font-size:12px; color:#0150a6; text-decoration: none;}
.top_info a:hover{text-decoration:underline;}
/* Nav
==========================================================*/
.nav {
	width:700px;
	overflow:hidden;
	margin:0px;
	}
.navleft{
	float:left;
	width:3px;
	height:30px;
	margin-left:0px;
	}
.navinner {
	position: relative;
	height:32px;
	width:700px;
	overflow: auto;
	}
.navlist {
	display: block;
	width: 2000px;	
	margin: 0;
	list-style: none;
	}
.navinner li {
    float: left;
	text-align:center;
	margin-right:2px;
	margin-top:6px;
	background: url(../images/blue_2010/ico.gif) left -300px no-repeat;
	}
.navinner li a span{
	background:url(../images/blue_2010/ico.gif) left -250px no-repeat;
	padding:0px 25px;
	margin:0px 2px 0px 0px;
	font-size: 12px;
	color:#4f82ae;
	line-height:26px;
	height:26px;
	display: block;
	float:left;
	}
.navinner li a,.navlist li a:link,.navlist li a:visited {
	display: block;
	cursor:pointer;
	overflow:hidden;
    color: #4f82ae;
	font-size: 12px;
	text-decoration:none;
	float:left;
	background:url(../images/blue_2010/ico.gif) right -250px no-repeat;
	}
.navinner li a:hover, .navinner ul li a.selected{
	font-size: 12px;
    color: #FFF;
    background: url(../images/blue_2010/ico.gif) right -300px no-repeat;
	text-decoration:none;
	margin:0px 0px 0px 2px;
	}
.navinner li a:hover span, .navinner ul li a.selected span{
	background: url(../images/blue_2010/ico.gif) center -350px no-repeat;
	color: #FFF;
	padding:0px 24px;
	margin:0px 2px 0px 0px;
	font-size: 12px;
	}
.navinner .current a,.navinner .current a:link,.navinner .current a:visited {
	font-size: 12px;
    color: #FFF;
    background: url(../images/blue_2010/ico.gif) right -300px no-repeat;
	text-decoration:none;
	margin:0px 0px 0px 2px;
	}
.navinner .current a span{
	background: url(../images/blue_2010/ico.gif) center -350px no-repeat;
	color: #FFF;
	padding:0px 24px;
	margin:0px 2px 0px 0px;
	}

.navinner li .subnav {
    position: absolute;
    top: 28px;
	clear:both;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
	color:#FFF;
	}
.navinner li .subnav a{
	background:url(../images/blue_2010/left_operate.gif) 0px 0px no-repeat;
	padding:0px 10px 0px 0px;
	margin-left:-1px;
	}
.navinner li .subnav a, .navinner li .subnav a:link, .navinner li .subnav a:visited {
	height: 30px;
    line-height: 30px;
	color: #FFF;
	font-size:12px;
	text-decoration:none;
	float:none;
	display:inline;
	padding:0px 10px 0px 0px;
	background:url(../images/blue_2010/ico.gif) 5px -397px no-repeat;
	}
.navinner li .subnav a:hover{
	color: #FFFF00;
    font-weight: normal;
    background: none;
    text-decoration:none;
	font-size:12px;
	float:none;
	display:inline;
	background:url(../images/blue_2010/ico.gif) 6px -418px no-repeat;
	padding:0px 10px 0px 0px;
	}

/* subnav position and pointer position */
.Light{
	background:url(../images/blue_2010/left_list_bg_a.jpg);
	}
.LeftFont{
	line-height:33px;
	}
.LeftFont a:link, .LeftFont  a:visited{
	font-weight:bold;
	color:#D7EFFF;
	text-decoration:none;
	}
.LeftFont a:hover{
	color:#A8EAFF;
	}
.white1 a:link, .white1 a:visited{
	color:#FFFFFF;
	text-decoration:none;
	}
.white1 a:hover{
	color:#28CAFF;
	text-decoration:underline;
	}
.white1 td{
	color:#FFFFFF;
	}
.welcome{
	background:url(../images/blue_2010/ico.gif) 0px -800px repeat-x;
	}	
.RightTop h1{
	font-size:14px;
	color:#025EC0;
	font-family:Verdana;
	margin-right:15px;
	}
.RightTop h2{
	font-size:14px;
	font-family:Verdana;
	}
.RightTop span{
	font-size:11px;
	font-weight:bold;
	}
.RightTop .RedFont span, .RightTop .RedFont{
	color:#FA4C00;
	}
/*satge*/
.stageindex{
	float:left;
	width:30px;
	height:30px;
	overflow:hidden;
}
.stageindex a,.stageindex a:link,.stageindex a:visited{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -75px -150px no-repeat;
	}
.stageindex a:hover{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -75px -200px no-repeat;
	}
.stagenitc{
	float:left;
	width:30px;
	height:30px;
	overflow:hidden;
}
.stagenitc a,.stagenitc a:link,.stagenitc a:visited{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -5px -150px no-repeat;
	}
.stagenitc a:hover{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -5px -200px no-repeat;
	}
.stagelevel{
	float:left;
	width:30px;
	height:30px;
	overflow:hidden;
}
.stagelevel a,.stagelevel a:link,.stagelevel a:visited{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -110px -150px no-repeat;
	}
.stagelevel a:hover{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -110px -200px no-repeat;
	}
.stagefresh{
	float:left;
	width:30px;
	height:30px;
	overflow:hidden;
}
.stagefresh a,.stagefresh a:link,.stagefresh a:visited{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -40px -150px no-repeat;
	}
.stagefresh a:hover{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -40px -200px no-repeat;
	}
.stagecate{
	float:right;
	width:30px;
	height:30px;
	overflow:hidden;
}
.stagecate a,.stagecate a:link,.stagecate a:visited{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -300px -150px no-repeat;
	}
.stagecate a:hover{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -300px -200px no-repeat;
	}
.stagesk{
	float:right;
	width:50px;
	height:32px;
	overflow:hidden;
	margin-left:5px;
	position:relative;
	}
.stageskin a,.stageskin a:link,.stageskin a:visited{
	display:block;
	width:50px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -335px -150px no-repeat;
	text-indent:22px;
	line-height:35px;
	color:#5b98cc;
	text-decoration:none;
	}
.stageskin a:hover{
	display:block;
	width:50px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -335px -200px no-repeat;
	}
.topic{
	float:right;
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	}
.topic a{
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -300px -200px no-repeat;
	}
.Menu{
	width:990px;
	overflow:hidden;
	}
.ScrollMenu{
	width:705px;
	height:32px;
	overflow:hidden;
	margin-left:10px;
	float:left;
	}
.home{
	float:left;
	display:block;
	width:30px;
	height:30px;
	}
.home a{
	float:left;
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -75px -200px no-repeat;
	}
.level{
	float:left;
	display:block;
	width:30px;
	height:30px;
	}
.level a{
	float:left;
	display:block;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -110px -200px no-repeat;
	}
.subskin{
	height:32px;
	width:50px;
	position:absolute;
	top:0;
	left:0;
	padding-top:12px;
	background:url(../images/blue_2010/head_bg.jpg) 0 -86px repeat-x;
	}
.subskin li{
	margin-left:5px;
	height:10px;
	width:10px;
	float:left;
	}
.subskin a{
	display:block;
	height:10px;
	width:10px;
	}
.subskin .skin1 a:link,.subskin .skin1 a:visited{
	background:url(../images/blue_2010/ico.gif) -60px -450px no-repeat;
	}
.subskin .skin1 a:hover{
	background:url(../images/blue_2010/ico.gif) 0px -450px no-repeat;
	}
.subskin .skin2 a:link,.subskin .skin2 a:visited{
	background:url(../images/blue_2010/ico.gif) -80px -450px no-repeat;
	}
.subskin .skin2 a:hover{
	background:url(../images/blue_2010/ico.gif) -20px -450px no-repeat;
	}
.subskin .skin3 a:link,.subskin .skin3 a:visited{
	background:url(../images/blue_2010/ico.gif) -100px -450px no-repeat;
	}
.subskin .skin3 a:hover{
	background:url(../images/blue_2010/ico.gif) -40px -450px no-repeat;
	}
/*==============================Left===========================*/
.BodyLeft{
	height:400px;
	overflow:hidden;
	position:absolute;
	}
.link{
	position:absolute;
	width:100%;
	height:0;
	overflow:hidden;
	visibility:hidden;
	margin-top:10px;
	background:url(../images/blue_2010/left_bg.jpg) repeat-y;
	}
.title{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -198px -17px no-repeat;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title0{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -198px -17px no-repeat;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title1{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -198px -52px no-repeat;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title2{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -198px -87px no-repeat;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title3{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -198px -122px no-repeat;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title4{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -198px -157px no-repeat;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title5{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -198px -192px no-repeat;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title_o{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -396px -17px no-repeat;
	width:100%;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title_o0{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -396px -17px no-repeat;
	width:100%;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title_o1{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -396px -52px no-repeat;
	width:100%;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title_o2{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -396px -87px no-repeat;
	width:100%;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title_o3{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -396px -122px no-repeat;
	width:100%;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title_o4{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -396px -157px no-repeat;
	width:100%;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.title_o5{
	position:relative;
	cursor:pointer;
	background:url(../images/blue_2010/left_bg.jpg) -396px -192px no-repeat;
	width:100%;
	color:#fff;
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	text-indent:65px;
	}
.text{
	position:relative;
	padding-left:65px;
	margin-top:5px;
	color:#FFF;
	overflow:hidden;
	}
.text ul li a:link,.text ul li a:visited{
	color:#bae1ff;
	text-decoration:none;
	line-height:22px;
	height:22px;
	padding-left:10px;
	background:url(../images/blue_2010/ico.gif) 0px -397px no-repeat;
	}
.text ul li a:hover{
	color:#bae1ff;
	text-decoration:underline;
	padding-left:10px;
	background:url(../images/blue_2010/ico.gif) 0px -418px no-repeat;
	}
/*==============================Right===========================*/
/*Operation*/
.operation{
	float:right;
	margin-left:6px;
	padding-top:2px;
	}
.operation a:link,.operation a:visited{
	display:block;
	margin:0px;
	width:22px;
	height:20px;
	text-align:center;
	float:left;
	border:1px #FFFFFF solid;
	text-indent:0px;
	}
.operation a:hover{
	border:1px #ff0000 dotted;
	}
.operation span{
	width:22px;
	height:20px;
	margin:0px;
	text-align:center;
	float:left;
	border:1px #FFFFFF solid;
	text-indent:0px;
	}
.op_edit{
	background:url(../images/blue_2010/ico.gif) 0px -500px no-repeat;
	}
.op_edit_off{
	background:url(../images/blue_2010/ico.gif) 0px -550px no-repeat;
	}
.op_copy{
	background:url(../images/blue_2010/ico.gif) -20px -500px no-repeat;
	}
.op_copy_off{
	background:url(../images/blue_2010/ico.gif) -20px -550px no-repeat;
	}
.op_look{
	background:url(../images/blue_2010/ico.gif) -40px -500px no-repeat;
	}
.op_look_off{
	background:url(../images/blue_2010/ico.gif) -40px -550px no-repeat;
	}
.op_column{
	background:url(../images/blue_2010/ico.gif) -60px -500px no-repeat;
	}
.op_column_off{
	background:url(../images/blue_2010/ico.gif) -60px -550px no-repeat;
	}
.op_move{
	background:url(../images/blue_2010/ico.gif) -80px -500px no-repeat;
	}
.op_move_off{
	background:url(../images/blue_2010/ico.gif) -80px -550px no-repeat;
	}
.op_repair{
	background:url(../images/blue_2010/ico.gif) -100px -500px no-repeat;
	}
.op_repair_off{
	background:url(../images/blue_2010/ico.gif) -100px -550px no-repeat;
	}
.op_level{
	background:url(../images/blue_2010/ico.gif) -120px -500px no-repeat;
	}
.op_level_off{
	background:url(../images/blue_2010/ico.gif) -120px -550px no-repeat;
	}
.op_seo{
	background:url(../images/blue_2010/ico.gif) -140px -500px no-repeat;
	}
.op_seo_off{
	background:url(../images/blue_2010/ico.gif) -140px -550px no-repeat;
	}
.op_del{
	background:url(../images/blue_2010/ico.gif) -160px -500px no-repeat;
	}
.op_del_off{
	background:url(../images/blue_2010/ico.gif) -160px -550px no-repeat;
	}
.op_start{
	background:url(../images/blue_2010/ico.gif) -180px -500px no-repeat;
	}
.op_start_off{
	background:url(../images/blue_2010/ico.gif) -180px -550px no-repeat;
	}
.op_view{
	display:block;
	background:url(../images/blue_2010/ico.gif) 0px -600px no-repeat;
	padding-left:12px;
	margin-left:10px!important;
	margin-left:5px;
	cursor:pointer;
	}	
.op_view_off{
	display:block;
	background:url(../images/blue_2010/ico.gif) 0px -650px no-repeat;
	padding-left:12px;
	margin-left:10px!important;
	margin-left:5px;
	cursor:pointer;
	}
.op_pic{
	display:block;
	background:url(../images/blue_2010/ico.gif) -300px -600px no-repeat;
	padding-left:12px;
	margin-left:10px!important;
	margin-left:5px;
	cursor:pointer;
	}	
.op_flash{
	display:block;
	background:url(../images/blue_2010/ico.gif) -300px -650px no-repeat;
	padding-left:12px;
	margin-left:10px!important;
	margin-left:5px;
	cursor:pointer;
	}		
.op_file{
	display:block;
	background:url(../images/blue_2010/ico.gif) -300px -700px no-repeat;
	padding-left:12px;
	margin-left:10px!important;
	margin-left:5px;
	cursor:pointer;
	}			
	
.BodyRight{

	}
.BodyRight .HomeTile{
	margin-top:10px;
	margin-left:15px;
	}
.BodyRight .HomeTile table h1{
	font-weight:bold;
	color:#022850;
	margin-left:10px;
	line-height:23px;
	}
.BodyRight .HomeTile table p{
	width:129px;
	line-height:33px;
	float:left;
	text-indent:10px;
	}
.BodyRight .HomeTile table span{
	line-height:33px;
	width:38px;
	float:right;
	text-align:center;
	margin-right:5px;
	font-weight:bold;
	}
.BodyRight .HomeTile  .M{
	color:#F042A8;
	}
.BodyRight .HomeTile  .Y{
	color:#F88702;
	}
.BodyRight .HomeTile  .B{
	color:#0078FF;
	}
.BodyRight .HomeTile  .G{
	color:#27A400;
	}
.BodyRight .HomeTile  td strong{
	color:#12793B;
	text-decoration:underline;
	}
.BodyRight .HomeTile a:link, .BodyRight .HomeTile a:visited{
	color:#2D629A;
	text-decoration:underline;
	}
.BodyRight .HomeTile a:hover{
	color:#12793B;
	text-decoration:underline;
	}
.line{
	border:#b6d8ea solid 1px;
	}
.h1title{
	background:url(../images/blue_2010/ico.gif) 0px -844px no-repeat;
	}
.maintdbg{
	background:url(../images/blue_2010/ico.gif) 0px -1050px no-repeat;
	}
.bt_add a:link,.bt_add a:visited{
	display:block;
	width:55px;
	height:24px;
	line-height:26px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) 0px -1200px no-repeat;
	color:#026698;
	text-align:left;
	text-indent:24px;
	text-decoration:none;
	}
.bt_add a:hover{
	background:url(../images/blue_2010/ico.gif) 0px -1230px no-repeat;
	color:#009aed;
	text-decoration:none;
	}
.bt_list a:link,.bt_list a:visited{
	display:block;
	width:55px;
	height:24px;
	line-height:26px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -100px -1200px no-repeat;
	color:#026698;
	text-align:left;
	text-indent:24px;
	text-decoration:none;
	}
.bt_list a:hover{
	background:url(../images/blue_2010/ico.gif) -100px -1230px no-repeat;
	color:#009aed;
	}
.bt_count a:link,.bt_count a:visited{
	display:block;
	width:55px;
	height:24px;
	line-height:26px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -200px -1200px no-repeat;
	color:#026698;
	text-align:left;
	text-indent:24px;
	text-decoration:none;
	}
.bt_count a:hover{
	background:url(../images/blue_2010/ico.gif) -200px -1230px no-repeat;
	color:#009aed;
	}
.BodyRight .RightDetill{
	width:100%;
	height:37px;
	background:url(../images/blue_2010/ico.gif) 0px -1102px repeat-x;
	}
.BodyRight  .RightDetill  li{
	float:left;
	line-height:37px;
	padding-left:15px;
	margin-right:20px;
	}
.BodyRight  .RightDetill  li img{
	float:left;
	margin-right:6px;
	margin-top:10px;
	}
.BodyRight  .RightDetill  li input{
	width:152px;
	float:left;
	border: #BDC9D6 solid 1px;
	color:#7C7C7C;
	padding-top:3px; 
	padding-left:3px;
	padding-bottom:3px;
	}
.BodyRight  .RightDetill  li .bt_go{
	width:24px;
	height:22px;
	margin-left:5px;
	border:none;
	padding:0px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -300px -750px no-repeat;
	}
.sbt_go{
	width:24px;
	height:22px;
	border:none;
	padding:0px;
	overflow:hidden;
	background:url(../images/blue_2010/ico.gif) -300px -750px no-repeat;
	}
.BodyRight  .RightDetill  .DetillRigh{
	float:right;
	overflow:hidden;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	}
.BodyRight  .RightDetill  .DetillRigh  img{
	margin:0px;
	padding:0px;
	}
.BodyRight  .RightDetill .Green a:link, .BodyRight .RightDetill .Green a:visited{
	color:#12793B;
	text-decoration:underline;
	padding-left:21px;
	display:block;
	background:url(../images/blue_2010/ico.gif) 0px -700px no-repeat;
	}
.BodyRight  .RightDetill  .Green a:hover{
	color:#2E8E00;
	text-decoration:none;
	}
.BodyRight  .RightDetill  .SkyBlue  a:link, .BodyRight  .RightDetill  .SkyBlue a:visited{
	color:#007EDD;
	text-decoration:underline;
	padding-left:21px;
	display:block;
	background:url(../images/blue_2010/ico.gif) -300px -700px no-repeat;
	}
.BodyRight  .RightDetill  .SkyBlue a:hover{
	color:#1093F6;
	text-decoration:none;
	}
.BodyRight  .RightDetill  .Black{
	padding-left:21px;
	display:block;
	background:url(../images/blue_2010/ico.gif) 0px -750px no-repeat;
	}
.BodyRight .PageContent{
	margin:0px auto;
	margin-top:10px;
	padding-left:15px;
	padding-right:15px;
	}
.BodyRight .PageContent .Move{
	height:29px;
	background:url(../images/blue_2010/ico.gif) 0px -880px no-repeat;
	}
.BodyRight .PageContent .Move a:link, .BodyRight .PageContent .Move a:visited{
	color:#022850;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	line-height:29px;
	}
.BodyRight .PageContent .Move a:hover{
	color:#004A98;
	text-decoration:none;
	}
.BodyRight .PageContent .Out{
	height:29px;
	background:url(../images/blue_2010/ico.gif) -100px -880px no-repeat;
	}
.BodyRight .PageContent .Out a:link, .BodyRight .PageContent .Out a:visited{
	color:#5F5F5F;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	line-height:29px;
	}
.BodyRight .PageContent .Out a:hover{
	color:#909090;
	text-decoration:none;
	}
.LineRight{
	border-right:#D9E3F0 solid 1px;
	color:#989898;
	line-height:29px;
	height:29px;
	background:url(../images/blue_2010/ico.gif) 0px -950px repeat-x;
	}
.BodyRight .PageContent .Font span{
	color:#2D629A;
	}
.LineRightBlue{
	border-right:#BDC9D6 solid 1px;
	border-left:#BDC9D6 solid 1px;
	color:#515151;
	background:url(../images/blue_2010/ico.gif) 0px -909px repeat-x;
	padding-bottom:7px;padding-top:6px;
	}
.LineRightBlue1{
	border-right:#BDC9D6 solid 1px;
	border-left:#BDC9D6 solid 1px;
	border-top:1px solid #BACAD9;
	color:#515151;
	background:url(../images/blue_2010/ico.gif) 0px -909px repeat-x;
	height:38px!important;height:37px;
	}
.LineRightBlue1 a{text-decoration: none;}
.LineRightBlue1 a:hover{text-decoration: underline;}
.button_margin{
	margin-right:10px;
	}
.Form{
	border:#BDC9D6 solid 1px;
	height:20px;
	width:245px;
	line-height:20px;
	text-indent:5px;
	}
.FormSmall{
	width:200px;
	border:#BDC9D6 solid 1px;
	padding-left:3px;
	padding-top:5px; padding-bottom:5px;
	background:url(../images/blue_2010/head_bg.jpg) 0px -290px repeat-x;
	}
.Line1{
	border-right:#D9E3F0 solid 1px;
	}
.Line2{
	border-left:#D9E3F0 solid 1px;
	}
.PageContent .ListCategory  span{
	color:#697E95;
	}
.PageContent .ListCategory a:link,.PageContent .ListCategory a:visited{
	color:#2D629A;
	font-size:12px;
	text-decoration:none;
	}
.PageContent .ListCategory a:hover{
	color:#909090;font-size:12px;
	text-decoration:underline;
	}
.PageContent .ListCategory th{
	background-image:url(../images/blue_2010/Category_bg.gif);
	}
.PageContent .ListCategory td{
	border-bottom:1px #d7eafb dashed;font-size:12px;
	}
.firstalt {
	BACKGROUND-COLOR:#fff;
	}
.secondalt {
	BACKGROUND-COLOR: #ffffff;
	}
.form1{
	height:20px;
	border: #BDC9D6 solid 1px;
	border-right:0px;
	color:#7C7C7C;
	line-height:20px;
	}
.BotNavBg{
	background:url(../images/blue_2010/ico.gif) 0px -1150px repeat-x;
	}
.pageNav {padding:3px 10px;color:#000000;overflow:hidden;zoom:1;font-size:12px;}
.pageNav .typing{float:right;}
.pageNav input{font-size:10px;font-family:verdana;}
.pageNav a{padding:0px 3px 0px 3px;color:#203558!important; border: solid 1px #849CC6;text-decoration: none!important;}
.pageNav a:hover{background-color:#E5EDF9;color:#203558!important;}
.pageNav span.current {padding:0px 3px 0px 3px;color:#ffffff!important;background-color:#5E90C3!important;border: solid 1px #5E90C3;font-weight:bold;}

input.bginput{color:#2D629A;background:#FFFFFF url(../images/blue_2010/ico.gif) 0px -990px repeat-x;border:1px solid #AABAC3;padding-top:3px;padding-bottom:2px;font-size:14px; font-weight:bold;width:80px;cursor:pointer!important;cursor:hand;overflow:hidden;height:30px;}
.error {background:#fde8e9 url(../images/icon_error.gif) no-repeat 5px 3px;border:1px solid #fac5c8;line-height:14px;padding:3px 20px 2px 25px;font-size:12px;font-family:verdana; color:#E04023; margin-top:2px;}
.success {background:#eff6e4 url(../images/icon_success.gif) no-repeat 5px 3px;border:1px solid #cae2a4;line-height:14px;padding:3px 20px 2px 25px;font-size:12px;font-family:verdana;}
.alert {background:#fffbd1 url(../images/icon_alert.gif) no-repeat 5px 3px;border:1px solid #fddc9b;line-height:14px;padding:3px 20px 2px 25px;font-size:12px;font-family:verdana;}
.quickMiniImgBox{visibility:hidden;position:absolute;left:0;top:0;z-index:301;}
.quickMiniImgBox .iconLayer{height:100%;}
.quickMiniImgBox .iconLayer a{display:block;width:100%;height:100%;text-decoration:none !important;}
.quickMiniImgBox .maskBox{float:left;width:100px;height:100px;border:none;overflow:hidden;background:url(../images/QuickView_Blank.gif) repeat;}
.quickMiniImgBox .dartBox{float:left;width:16px;height:100px;background:url(../images/QuickView_Dart.gif) no-repeat right center;}
.quickInfoBox{visibility:hidden;position:absolute;left:0;top:0;width:125px;height:125px;background-color:#d1e3f5;padding:8px 8px 4px;text-align:center;border:1px solid #adcfea;z-index:300;}
.quickInfoBox .largeImg{width:120px;height:120px;background-color:#ffffff;padding:5px;border:1px solid #4e89c4;}
.quickInfoBox .largeImg a{display:table-cell;width:120px;height:120px;*display:block;vertical-align:middle;outline:none;}
.quickInfoBox .largeImg img{vertical-align:middle;border:0;}
.SeoMeta{
	color:#2A9901;
	font-weight:bold;
	text-decoration:none;
	line-height:18px;
	}


/* Note
==========================================================*/
.note {
    margin: 0 15px 10px;
	color:#666666;
}
.note span{
	float:right;
}
.disable {
    display: none;
}

.panel li {
	width:82px;
	height:64px;
	overflow:hidden;
	float:left;
	line-height:24px;
	margin-left:10px;
	text-align:center;
	}
.panel li a{
	display:block;
	border:1px #f6f6f6 solid;
	}
.panel li a:link,.panel li a:visited{
	text-decoration:none;
	}
.panel li a span{
	width:32px;
	height:36px;
	overflow:hidden;
	margin:0px auto!important;
	margin:none;
	}
.panel li a:hover{
	border:1px #DDD solid;
	text-decoration:none;
	color:#2D629A;
	background:#EFFAFE;
	}
.panel li img{
		margin-top:5px;
	}
.titlepanel{
	border: 1px dashed #FF9900;
	width:280px;
	height:24px;
	overflow:hidden;
	}
.titlepanel input{
	float:left;
	border:0px;
	margin:0px;
	padding:0px;
	margin-left:5px;
	height:22px;
	}
.titlepanel label{
	float:left;
	margin-left:3px;
	margin-right:5px;
	line-height:24px;
	}

.tablelisthead{
	background:url(../images/blue_2010/ico.gif) 0px -1050px repeat-x;
	height:30px;
	margin-top:10px;
	}
.tablelisthead li{
	float:left;
	line-height:30px;
	font-weight:bold;
	color:#697e95;
	text-indent:10px;
	}
.tablelisthead li a:link,.tablelisthead li a:visited{
	color:#3288d1;
	text-decoration:none;
	}
.tablelisthead li a:hover{
	color:#cc0000;
	text-decoration:underline;
	}
.tablelist{
	border:1px #d6dfe7 solid;
	border-top:0px;
	border-bottom:0px;
	clear:both;
	}
.tablelist ul{
	border-top:1px #d6dfe7 solid;
	height:25px;
	clear:both;
	background:#FFFFFF;
	}
.tablelist ul:hover{
	border-top:1px #d6dfe7 solid;
	height:25px;
	clear:both;
	background:#FFFDD7;
	}
.tablelist li{
	float:left;
	line-height:28px;
	height:28px;
	color:#5b5b5b;
	text-indent:10px;
	overflow:hidden;
	}
.listimg{
	float:left;
	margin-top:9px;
	margin-left:10px;
	}
.tablelist li span{
	float:left;
	}
.tablelist li a:link,.tablelist li a:visited{
	
	text-decoration:none;
	}
.tablelist li a:hover{
	
	text-decoration:underline;
	}
.listinput{
	width:26px;
	height:14px;
	overflow:hidden;
	text-align:center;
	border:1px #BDC9D6 solid;
	float:left;
	margin-left:10px;
	text-indent:0px;
	margin-top:5px;
	padding:0px;
	font-size:11px;
	color:#999;
	}
.listcheck{
	width:15px;
	height:14px;
	overflow:hidden;
	float:left;
	margin-left:12px;
	text-indent:0px;
	margin-top:6px;
	padding:0px;
	font-size:11px;
	color:#999;
	}
.li_5{
	width:5%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	}
.li_8{
	width:8%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	}
.li_10{
	width:10%;
	overflow:hidden;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_15{
	width:15%;
	overflow:hidden;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_20{
	width:20%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_25{
	width:25%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_27{
	width:26%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_30{
	width:30%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_35{
	width:35%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_40{
	width:40%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_90{
	width:89%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_20 a,.li_25 a,.li_27 a,.li_30 a,.li_35 a,.li_40 a{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
	
/*start*/
.clearfix:after{display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}
.rrow{width:280px;margin-left:5px;}
.login{ background:url(../images/blue_2010/box.jpg); height:318px;width:280px;  overflow:hidden;}
.login h2{ color:#022850; font-size:13px; line-height:26px;height:26px; overflow:hidden; text-indent:1em; }
.rrow ul{ margin:5px 0px;margin-left:5px; }
.rrow ul li {height:31px;margin-bottom: 5px; overflow:hidden;}
.rrow .login ul li span{float:left;display:block;width:130px;height:31px;overflow:hidden;cursor:pointer;}
.rrow ul li .yhzc{background:url(../images/blue_2010/title.gif) 0 -152px;}
#yhzc{background:url(../images/blue_2010/title.gif) 0 -183px;height:37px;}
.rrow ul li .hysj{background:url(../images/blue_2010/title.gif) -132px -152px;}
#hysj{ background:url(../images/blue_2010/title.gif) -132px -183px;height:37px;}
.rrow ul li .fbxx{background:url(../images/blue_2010/title.gif) 0 -220px; }
#fbxx{ background:url(../images/blue_2010/title.gif) 0 -251px;height:37px;}
.rrow ul li .gstg{background:url(../images/blue_2010/title.gif) -132px -220px; }
#gstg{ background:url(../images/blue_2010/title.gif) -132px -251px;height:37px;}
.rrow ul li .xzmj{background:url(../images/blue_2010/title.gif) 0 -288px; }
#xzmj{ background:url(../images/blue_2010/title.gif) 0 -319px;height:37px;}
.rrow ul li .bzzx{background:url(../images/blue_2010/title.gif) -132px -288px; }
#bzzx{ background:url(../images/blue_2010/title.gif) -132px -319px;height:37px;}
.rrow ul .hoverli{background:url(../images/blue_2010/title.gif) 0 -357px no-repeat;height:200px;overflow:hidden;font-weight:400;}
.rrow ul li div{ margin-top: 5px;display:none;clear:both;padding:10px;line-height:20px;}
.rrow ul li div b{color:#12793b;}
.rrow ul li .block,.rrow .block{ display:block;clear:both; }
.rrow ul .none{ display:none; }
.btn{font-size:12px; float:left; width:57px; height:20px; overflow:hidden; background:url(../images/blue_2010/title.gif); line-height: 21px;padding-left:18px;margin-right: 10px; }
a:hover.btn{background:url(../images/blue_2010/title.gif) 0 -20px;}
#btn4{background:url(../images/blue_2010/title.gif);width:75px; margin-left: 48px; cursor:pointer;}
.input2{font-size:12px; border:1px solid #999; width:140px; height:16px; padding:1px 2px 0 2px; }
/*end*/

.flow{ border:1px solid #b6d8ea; width:492px; float:left; margin-top:5px;}
.flow_title{ height:25px; background:url(../images/blue_2010/ico.gif) 0px -844px repeat-x; line-height:25px; }
.flow_title1{font-size:13px; font-weight:bold; text-indent:1em; color:#022850;}

.flow_title1 .greenfont a:link,.flow_title1 .greenfont a:visited{color:#27a43a;margin:0px 3px;text-decoration:none;}
.flow_title1 .greenfont a:hover{text-decoration:underline;}
.flow_title1 .redfont a:link,.flow_title1 .redfont a:visited{color:#f042a8;margin:0px 3px;text-decoration:none;}
.flow_title1 .redfont a:hover{text-decoration:underline;}

.flow_title2{ margin-right:5px!important;margin-right:3px;width:105px;}
.flow_title2 b{ float:left;font-weight:normal;}
.flow_title2 form{float:left;display:inline;}
.flow_title_select{ float:right;height:19px;margin-top:2px!important;margin-top:1px;margin-left:5px;}

.flow_information{ text-align:center; margin:4px 0;}

	
.promise{margin:5px 0px;}
.rrow ul li div{ display:none;clear:both;padding:10px;line-height:18px;}
	
/*分页样式*/
.page{clear:both; margin:1px 0px; text-align: center; font-size: 12px;}
.page a {font-size:12px;border: #0381ba 1px solid; padding:2px 6px; margin: 2px; color: #016390; text-decoration: none}
.page a:hover,.page a:active{border: #0381ba 1px solid;color: #fff; background-color: #0381ba;}
.page .current {border: #016390 1px solid; padding:2px 6px; font-weight: bold; margin: 2px;  color: #fff; background-color: #0381ba}	

.LineRightBlue1 select{width: 230px}